[submodule "themes/terminalcv"]
	path = themes/terminalcv
	url = https://github.com/coolapso/hugo-theme-terminalcv.git
[submodule "static/gui"]
	path = static/gui
	url = https://github.com/Z2r-YT/Fake-Windows-Update-Screen
