[submodule "themes/terminalcv"]
	path = themes/terminalcv
	url = https://github.com/wojtazk/hugo-theme-terminalcv.git
[submodule "static/gui"]
	path = static/gui
	url = https://github.com/wojtazk/Fake-Windows-Update-Screen.git
