@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700;900&family=Twinkle+Star&display=swap');

body {
  padding: 0;
  margin: 0;
  width: 100%;
}

section {
  width: 90%;
  margin: 1em auto;
  border: 2px solid black;
}

h1 {
  width: fit-content;
  max-width: 90%;
  margin: 2em auto;
  font-family: 'Press Start 2P', cursive;
}

h2 {
  margin: 2em;
}

#colors div {
  text-align: center;
  display: inline-block;
  min-width: 14em;
  padding: 2em;
  margin: 1em;
  color: white;
}

#colors .ltt-orange {
  background-color: rgb(219, 65, 5);
}

#colors .lightblue {
  background-color: lightblue;
}

#colors .black-3_0 {
  background-color: black;
}

#colors .slutty-red {
  background-color: rgb(255, 69, 69);
}

/*  */
#fonts h3 {
  margin: 2em 0;
  text-decoration: underline;
}
#fonts div {
  text-align: center;
  display: inline-block;
  padding: 1em;
  margin: 1em;

  font-size: x-large;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

#fonts .press-start {
  font-family: 'Press Start 2P', cursive;
}

#fonts .roboto {
  font-family: 'Roboto', sans-serif;
}

#fonts .twinkle-star {
  font-family: 'Twinkle Star', cursive;
}
/*  */

#text-styles ul {
  font-size: x-large;
  width: fit-content;
  margin: 1em auto;
  text-align: left;
}

#text-styles {
  text-align: center;
}
