@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;

  color: rgb(150, 92, 48);
  background-color: burlywood;

  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header / nav */
header {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  font-size: 1.125rem;

  background-color: rgba(222, 184, 135, 0.9);
  border-bottom: 2px dashed black;
}

header .logo {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  padding-left: 1.5rem;
}

header ul li {
  display: inline;
  padding: 1.5em;

  font-size: 1.5em;
  text-shadow: 0 0 1px black;

  font-weight: bold;
}

header ul li a {
  text-decoration: none;
  color: rgb(150, 92, 48);
}

header ul li a:hover {
  text-decoration: underline;
  color: azure;
}

@media only screen and (max-width: 768px) {
  header {
    font-size: 0.8rem;
  }
  header ul li {
    padding: 1rem;
  }
}

@media only screen and (max-width: 582px) {
  header {
    font-size: 0.7rem;
  }
  header ul li {
    padding: 0.8rem;
  }
}

@media only screen and (max-width: 525px) {
  header {
    display: none;
    /* font-size: 0.5rem; */
  }
  /* header ul li {
    padding: 0.5rem;
  } */
}
/*  */

/* Intro */
#intro {
  background-image: url('./images/philip-myrtorp-yf77MNs-1MQ-unsplash.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 95vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#intro .logo {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  padding: 2rem;
  border-radius: 1rem;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 525px) {
  #intro {
    height: 100vh;
  }

  #intro .logo {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 320px) {
  #intro .logo {
    font-size: 1.5rem;
  }
}
/*  */

/* About */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

  width: 100%;
  height: 60vh;
}

@media only screen and (max-width: 768px) {
  #about {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 525px) {
  #about {
    font-size: 1.1rem;
  }
}
/*  */

/* Gallery */
#gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;

  justify-content: center;
  align-items: center;
}

#gallery .photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#gallery .photo-gallery img {
  border-radius: 2rem;
  width: 40%;
  margin: 1%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  #gallery {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 525px) {
  #gallery {
    font-size: 1.1rem;
  }

  #gallery .photo-gallery img {
    width: 90%;
  }
}
/*  */

/* Upcoming events */
#events {
  margin-top: 30vh;
  margin-bottom: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 80vh; */

  font-size: 2rem;

  justify-content: center;
  align-items: center;
}

#events img {
  border-radius: 2rem;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  #events {
    margin-top: 10vh;
    font-size: 1.5rem;
  }
  #events img {
    width: 80%;
  }
}

@media only screen and (max-width: 525px) {
  #events {
    font-size: 1.1rem;
  }
}
/*  */

/* Footer */
footer {
  text-align: center;
  margin: 2rem;
  font-weight: bold;
}

footer span {
  font-family: 'Pacifico', cursive;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}
