html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
/*  */

body {
  color: whitesmoke;
  width: 100%;
  min-height: 100vh;

  background-image: url('/images/earth-nasa-Q1p7bh3SHj8-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
