.mainContent {
  /* width: fit-content; */
  position: relative;
  z-index: 2;
  min-width: 20rem;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 4rem;
  text-align: center;
}

.mainContent h1 {
  margin-top: 5rem;
}

.mainContent h2 {
  color: rgb(140, 140, 140);
  font-size: 0.8em;
}
